<html class="listingsbg">
 <head>
    <style>
    {
        box-sizing: border-box;
    }
    /* Set additional styling options for the columns*/
    .column {
    float: left;
    width: 50%;
    display: block;
    justify-content: center;
    align-items: center;
    }

    .row:after {
    content: "";
    display: table;
    clear: both;
    }
    </style>
 </head>

<div class="column">
  <div class="leftcolumn"><br><br>
  <h1>Check out our available spaces.</h1>
  <p>With more properties available than ever before,<br>you are guaranteed to find the right space for you.</p><br>
  <hr class="rounded"><br>
  <h3> Looking to list your own space?</h3><br>
  <p>It's quick and easy and you can<br>start receiving bookings today!</p><br><br>
<form action="/listings/new" method='get'>
    <input type="submit" value='List a Space'>
</div>
</div>

<div class="column">
  <div class="listings" id="listings">
    <ul class="displaylist" id="displaylist">
      <% @listings.each do |listing| %>
        <li class="listing" id="listing-<%= listing.id %>">
          <h3><a href="/listings/<%=listing.id%>">
          <li><%= listing.name %></a></h3>
          <h4><%= listing.description %></h4>
          <p>from just <%= listing.price %> / per night</p></li>
        </li>
      <% end %>
    </ul>
  </div>
</div>
</html>
