<% if @user %> 
<form action="/sessions/destroy" method='post'>
  <input type="submit" value='Sign out'>
</form>
  <p>Hello, <%= @user.email %></p>
<% else %>
  <form action="/users/new">
    <input type="submit" value='Sign up'>
  </form>
  <form action="/sessions/new">
    <input type="submit" value='Sign in'>
  </form>
<% end %>

<form action="/listings/new" method='get'>
  <input type="submit" value='List a Space'>
</form>

<ul>
  <% @listings.each do |listing| %>
    <li class="listing" id="listing-<%= listing.id %>">
      <p>
        <a href="/listings/<%=listing.id%>"> <%= listing.name %> </a>
      </p>
      <p><%= listing.description %></p>
      <p><%= listing.price %></p>
    </li>
  <% end %>
<ul>
