<h1> <%= @listing.name %> </h1>

<p> <%= @listing.description %> </p>

<p> <%= @listing.price %> </p>

<form action="/listings/<%= @listing.id %>/bookings" method="post">
  <input type="date" min="<%= @listing.start_date %>" max="<%= @listing.end_date %>" name="start_date">
  <input type="submit" value="Request Space">
</form>