<html class="bookingsbg">
 <head>
    <style>
    {
        box-sizing: border-box;
    }
    /* Set additional styling options for the columns*/
    .column {
    float: left;
    width: 50%;
    display: block;
    justify-content: center;
    align-items: center;
    }

    .row:after {
    content: "";
    display: table;
    clear: both;
    }
    </style>
 </head>
 
<div class="pageheading">
<h1>Here are your requests.</h1><br>
</div>

<div class="column">
<div class="pageheading">
  <h2>Requests you've made</h2>
  </div>
    <div class="listings" id="listings">
      <ul class="displaylist" id="displaylist">
        <ul>
          <% @outgoing_bookings.each do |booking| %>
      <h3><a href="/listings/<%= booking.listing_id %>"><%= Listing.find(id: booking.listing_id).name  %></a></h3>
          <li><h4><% if booking.confirmed.nil?  %>
            Not confirmed
          <% elsif booking.confirmed == 't' %>
            Confirmed
          <% else %>
            Denied
          <% end %>
        for <%= booking.start_date %></h4></li>
      </li>
    <% end%>
  </ul>
  </ul>
</div>
</div>
</html>

<div class="column">
<div class="pageheading">
  <h2>Requests you've received</h2><br>
  </div>
    <div class="listings" id="listings">
      <ul class="displaylist" id="displaylist">
        <ul>
          <% @incoming_bookings.each do |booking| %>
            <li><h3><a href="/bookings/<%= booking.id %>"><%= Listing.find(id: booking.listing_id).name  %></a></li></h3>
          <li><h4><% if booking.confirmed.nil?  %>
            Not confirmed
          <% elsif booking.confirmed == 't' %>
            Confirmed
          <% else %>
            Denied
          <% end %>
        for <%= booking.start_date %></h4></li>
      </li>
    <% end%>
  </ul>
  </ul>
</div>
</div>
</html>