<html class="bookingsbg">
 <head>
    <style>
    {
        box-sizing: border-box;
    }
    /* Set additional styling options for the columns*/
    .column {
    float: left;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .row:after {
    content: "";
    display: table;
    clear: both;
    }
    </style>
 </head>
 
<div class="pageheading">
<h1>Here are your requests</h1><br>
</div>
<div class="column">
<h2>Requests you've made</h2>

<ul>
  <% @outgoing_bookings.each do |booking| %>
    <li>
      <h2><a href="/listings/<%= booking.listing_id %>"><%= Listing.find(id: booking.listing_id).name  %></a> | 
        <% if booking.confirmed.nil?  %>
          Not confirmed
        <% elsif booking.confirmed == 't' %>
          Confirmed
        <% else %>
          Denied
        <% end %>
       for <%= booking.start_date %></h2>
    </li>
  <% end%>
</ul>
</div>

<div class="column">
<h2>Requests you've received</h2>

<ul>
  <% @incoming_bookings.each do |booking| %>
    <li>
      <h2><a href="/bookings/<%= booking.id %>"><%= Listing.find(id: booking.listing_id).name  %></a>
        <% if booking.confirmed.nil?  %>
          Not confirmed
        <% elsif booking.confirmed == 't' %>
          Confirmed
        <% else %>
          Denied
        <% end %>
       for <%= booking.start_date %></h2>
    </li>
  <% end%>
</ul>
</div>
</html>